$white: #f3f3f3;
$black: #1a1a1a;
$blue: #34B6FA;
$pink: #FB4E5A;
$green: #5CBA47;
$yellow: #F9D507;

$theme-colors: (
        "primary": $blue,
        "secondary":$pink,
        "pineapple-top":$green,
        "pineapple-body":$yellow
);
